/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.col-1-1 {
  width: 100%;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
  height: 100px;
}

nav h1 {
	margin-top: 10px;
	font-family: 'Source Code Pro', monospace;
	font-size: 5em;
	margin-left: 20px;
	z-index: 1;
}

.wrap {
  margin: 0 auto;
  width: 1000px;
}

.center-text {
  text-align: center;
}

header {
	margin-top: 20px;
	z-index: -1;
}

header h1 {
	font-family: 'Source Code Pro', monospace;
	font-size: 2.2em;
	font-weight: 300;
	color: black;
}

#top-section {
	margin-top: 75px;
}

#choose-a-scene {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

#choose-a-scene img {	
	width: 307px;
	height: 154px;
	flex: 1;
	margin-right: 20px;	
	border-radius: 3px;
}

#bottom-section {
	margin-top: 80px;
}

#make-a-scene {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#make-a-scene-upload-form {
	margin-top: 25px;
  height: 300px;
  width: 500px;
}

#a-frame-wrap {
  display: none;
}